<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- NOTA: Las propiedades del sistema se configuran en: ConfigurationServiceImpl -->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <override>
	<system />

	<properties config-name="solr-static-conf" fileName="${environment.metamac.data}/search/conf/estatica/idxmanager-TEST.xml" />
	
	<!-- 
	<properties config-name="...-dynamic-conf" fileName="${ .data.url}/conf/dinamica/.....xml">
		<reloadingStrategy config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" refreshDelay="10000"/> 	
	</properties>
	 -->	
  </override>
</configuration>
